DB_DDL_AUTO=true
JWT_SECRET=&ØÿÓº¦zçÂuâ¸ì±He?ÃÙåâûh§`e9òsªuRs¢Q{°ÁÍ\Æeé®T|b#{t¿?iydªËÚV)qÅÜ¡6kÔ/ÆöLî×­vÃ$FÊÌ­g#ÆOÖº× ÛrÜv]è ûpcb´¤or°Öæ57G%Çù\ÖfÞç¹¥E±+Ð%Ðof@ß[¨J%@¿)m3Ì¨ßaSËÚûØ¨jüùÞaáßü}ü'5¾Xa³ãî±Rx_~Ã`öÍ·uêò-g	]üÂi'¬+Tðeÿ<yÍVbÉ¿KP$ò,þ¸;{d@è7ïâèäUv/B£½	Õ~8	Y2vÏ©ÞÞRj¨(ãu6øÖª«÷Bh6SÞ½è*5ò.ùBü,ÛcL®ü§?îTÌ4þùX¾=#Ú3¡u*ý©U­9WÄêP7þ£Ê ñàwá@ý¢Mà\îôbuÅYh+ötNr¿Ga{ï8S¸àI¯vÝÝj@1àz0Â¿Z=JÐqEy=;[VÅéañiÔ{Mi,^%3ÌÑ\G·aJ8´Ü=ÆÌ¹?Øÿu¥
JWT_DURATION=1440
APP_BOOKS_GB_API_KEY=exemple